In [10]:
import sqlite3
import pandas as pd
# connect to the database
conn = sqlite3.connect('chinook.db')

# create a cursor object
cur = conn.cursor()

In [16]:
query = '''
    SELECT c.LastName, c.FirstName, t.Name AS Name, a.Title AS Title
    FROM Customer c
    JOIN Invoice i ON c.CustomerId = i.CustomerId
    JOIN InvoiceLine ii ON i.InvoiceId = ii.InvoiceId
    JOIN Track t ON ii.TrackId = t.TrackId
    JOIN Album a ON t.AlbumId = a.AlbumId
    ORDER BY c.LastName, c.FirstName
'''

In [17]:
df = pd.read_sql_query(query, conn)

In [19]:
df.head()

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas